<h1>Listing rovers</h1>

<table>
  <thead>
    <tr>
      <th>R1 start</th>
      <th>R1 start direction</th>
      <th>R1 commands</th>
      <th>R2 start</th>
      <th>R2 start direction</th>
      <th>R2 commands</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rovers.each do |rover| %>
      <tr>
        <td><%= rover.r1_start %></td>
        <td><%= rover.r1_start_direction %></td>
        <td><%= rover.r1_commands %></td>
        <td><%= rover.r2_start %></td>
        <td><%= rover.r2_start_direction %></td>
        <td><%= rover.r2_commands %></td>
        <td><%= link_to 'Show', rover %></td>
        <td><%= link_to 'Edit', edit_rover_path(rover) %></td>
        <td><%= link_to 'Destroy', rover, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rover', new_rover_path %>
